
<ul>
<h2>all blogs</h2>
{{#each model.blogs as |blog index|}}
  {{#if (lt index 3)}}
    {{blog-tile blog=blog}}
  {{/if}}
{{/each}}
</ul>
<h2>all comments</h2>
<ul>
  {{#each model.comments as |commenter|}}
    <li>{{commenter.user}}{{commenter.statement}}</li>
  {{/each}}
</ul>


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
{{#link-to 'log-in'}}Log In{{/link-to}}
